## 일단 파일에서 데이터 불러오기

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data/results.csv", encoding='cp949')
## 이게 그냥 하면 오류가 떠서 한글전용 인코딩 방식을 써야 하는구만. 근데 왜 이 파일에 한국어가있지?

In [5]:
df

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14T00:00:00Z,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14T00:00:00Z,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14T00:00:00Z,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14T00:00:00Z,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14T00:00:00Z,Man City,Leeds,1,1,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10589,2020-21,2021-01-12T20:15:00Z,Burnley,Man United,0,1,A,0.0,0.0,D,...,0.0,7.0,3.0,4.0,15.0,13.0,1.0,2.0,0.0,0.0
10590,2020-21,2021-01-12T20:15:00Z,Wolves,Everton,1,2,A,1.0,1.0,D,...,3.0,3.0,6.0,5.0,6.0,11.0,2.0,2.0,0.0,0.0
10591,2020-21,2021-01-13T18:00:00Z,Man City,Brighton,1,0,H,1.0,0.0,H,...,6.0,1.0,8.0,4.0,4.0,12.0,0.0,2.0,0.0,0.0
10592,2020-21,2021-01-13T20:15:00Z,Tottenham,Fulham,1,1,D,1.0,0.0,H,...,6.0,4.0,6.0,5.0,13.0,15.0,1.0,2.0,0.0,0.0
10593,2020-21,2021-01-14T20:00:00Z,Arsenal,Crystal Palace,0,0,D,0.0,0.0,D,...,4.0,2.0,7.0,3.0,10.0,11.0,1.0,1.0,0.0,0.0

In [7]:
df.shape

(10594, 23)